.container {
  padding: 24px;
  background-color: var(--color-primary);
  color: white;
  min-height: 156px;
  display: flex;
  justify-content: center;
}

.inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.nav {
  display: flex;
  font-size: var(--font-small);
  margin-left: -8px; /* Correcting indent made from nav item padding */
}

.nav li {
  list-style: none;
}

.nav a {
  display: block;
  padding: 8px;
}

.socials {
  justify-content: center;
  justify-content: flex-end;
  margin-right: -12px; /* Correcting indent made from nav item padding */
}
