.container {
  padding: 24px;
  background-color: white;
}

.inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.nav {
  margin-left: -16px; /* Correcting indent made from nav item padding */
}
