.banner {
  position: relative;
  height: 560px;
}

.bannerImage {
  object-fit: cover;
}

.sectionCTA {
  margin-top: 32px;
}

.heroCardMargin {
  margin-bottom: 56px;
}

@media (max-width: 1024px) {
  .banner {
    height: 512px;
  }
}

@media (max-width: 780px) {
  .banner {
    height: 400px;
  }
}
