.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background-color: var(--color-primary);
  font-size: var(--font-small);
  height: 40px;
}

.link {
  width: 100%;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  text-underline-offset: 0.2rem;
}

.link:hover {
  text-decoration: underline;
}
