.container {
  position: relative;
  width: 40%;
  flex-shrink: 0;
}

.large {
  width: 60%;
}

.image {
  object-fit: cover;
}

@media (max-width: 780px) {
  .container {
    width: 100%;
    height: 400px;
    order: -1;
  }
}
