.container {
  list-style: none;
}

.link {
  display: block;
  padding: 16px;
  opacity: 0.75;
  text-underline-offset: 0.25rem;
}

.link:hover {
  text-decoration: underline;
  opacity: 1;
}

.link.active {
  opacity: 1;
  text-decoration: underline;
}

.link.active:hover {
  text-decoration-thickness: 0.12rem;
}
