.container p,
.container blockquote,
.container span {
  color: var(--color-foreground-soft);
  opacity: 1;
}

.center {
  text-align: center;
}

.tight {
  padding-top: 64px;
  padding-bottom: 64px;
}

.comfort {
  padding-top: 96px;
  padding-bottom: 96px;
}

.soft {
  background-color: var(--color-background-soft);
}

.primary {
  background-color: var(--color-primary);
  color: white;
}

.primary p {
  color: white;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .comfort {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .tight {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media (max-width: 780px) {
  .comfort {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .tight {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
