.nav {
  display: flex;
  font-size: var(--font-small);
  margin-left: -8px; /* Correcting indent made from nav item padding */
}

.nav li {
  list-style: none;
}

.nav a {
  display: block;
  padding: 8px;
}

.socials {
  display: flex;
}

.socials a {
  transition: 150ms;
  padding: 12px;
}
.socials a:hover {
  transform: scale(1.1);
}
